Repository Katello/hammer-cli-katello, pull requests merged in 2022-09, with the labels that each got.

#863 Refs #35442 - Properly vets repository exports
  lib/hammer_cli_katello/content_export_helper.rb
  test/functional/content_export/complete/repository_test.rb
  test/functional/content_export/incremental/repository_test.rb
Labels: Ready for merge, Requires Katello PR

#864 Refs #35459 - create hammer command to show repository types
  lib/hammer_cli_katello/repository.rb
  test/data/4.6/foreman_api.json
  test/functional/repository/list_test.rb
  test/functional/repository/remove_content_test.rb
  test/functional/repository/types_test.rb
Labels: Ready for merge

#860 Refs #35296 - New Custom CDN type
  lib/hammer_cli_katello/organization.rb
Labels: Ready for merge, Requires Katello PR

#865 Refs #35505 - ISS Syncable imports
  lib/hammer_cli_katello/content_export.rb
  lib/hammer_cli_katello/content_export_helper.rb
  test/data/4.7/foreman_api.json
  test/test_helper.rb
Labels: Needs testing, Not yet reviewed
